.bx--structured-list-th {
  color: rgb(255, 0, 0);
}

.threat-feed-title {
  font-size: 20px;
  font-weight: bold;
}

.bx--structured-list-td {
    color: rgb(255, 255, 255);
}

.loading-skeleton {
  width: '800px';
}
